<html>

<head>
    <%- include ./layouts/productheader.ejs %>
    <link rel="stylesheet" type="text/css" href="/views/styles/product_list.css">
</head>

<body>
    <%- include ./layouts/footer_top.ejs %>
    <!--Including Header and NavBar Partial-->
    <%- include ./layouts/navbar.ejs %>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">
                <%- category %>
            </li>
        </ol>
    </nav>

    <h1 align="center">
        <%= category %>
    </h1>
    <div class="container-fluid">
        <!-- Spacer column -->
        <div class="row">
            <div class="col-4"></div>
            <!-- List column -->
            <div class="col">
                <div class="card-deck">
                    <% if (data) { %>
                    <!-- Using a for-loop to loop over each row in the database.
    The 'data' variable is passed from the store.js during the response.render function call -->
                    <% data.forEach(function(item){ %>
                    <div class="row">
                        <div class="card prtopoduct-card">
                            <a href="/product/<%= item.type %>/<%- item.productid %>">
                                <img class="card-img-top" src="/Database_Images/<%= item.image %>" alt="Card image cap">
                            </a>
                            <div class="card-body">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <p class="card-title" align="center"><a href="/product/<%= item.type %>/<%- item.productid %>">
                                                <%= item.name %></a></p>
                                    </li>
                                    <li class="list-group-item">
                                        <p class="card-text" align="center">
                                            <%= item.cost %>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <% }) %>
                    <% } %>
                <!-- End Card Deck -->
                </div>
            </div>
            <!-- Spacer Column -->
            <div class="col-4"></div>
        </div>
    </div>
<%- include ./layouts/footer_bot.ejs %>
</body>

</html>
