<!-- Related Products -->
<h1 class="font-weight-light related-products-title">Related Products</h1>
<div class="card-deck">
  <div class="row product-row">
    <% var inRow = 0; %>
    <% for (i = 0; i < data.length; i++) { %>
    <% var item = data[i]; %>
    <% if (item.id != id) { %>
    <div class="card">
      <img class="card-img-top" src="/Database_Images/<%= item.image %>" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="/<%= item.type %>/<%- item.id %>"><%= item.name %></a></h5>
        <p class="card-text"><%= item.price.toFixed(2) %></p>
      </div>
    </div>
    <% inRow++; %>
    <% } %>
    <% if (inRow % 2 == 0) {%>
      </div>
      <div class="row product-row">
    <% inRow = 0; %>
    <% }%>
    <% } %>
  </div>
</div>
