<html>

<head>
  <%- include ./layouts/header.ejs %>
  <link rel="stylesheet" href="/views/styles/related_products.css">
  <link rel="stylesheet" href="/views/styles/product_info.css">
  <link rel="stylesheet" href="/views/styles/product.css">
</head>

<body>
  <%- include ./layouts/navbar.ejs %>
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Products</a></li>
      <li class="breadcrumb-item"><a href="/<%= individual_data.type %>"><%= individual_data.type %></a></li>
      <li class="breadcrumb-item active" aria-current="page">
        <%= individual_data.name %>
      </li>
    </ol>
  </nav>
  <!--Using if-check to see if an error occurred and displaying appropriate message-->
  <% if (messages.error) { %>
  <p style="color:red">
    <%- messages.error %>
  </p>
  <% } %>
  <% if (messages.success) { %>
  <p style="color:blue">
    <%- messages.success %>
  </p>
  <% } %>

  <script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
  </script>

  <!-- Related Products -->
  <div class="container-fluid main-container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-2 related-products">
        <%- include ./layouts/related_products.ejs %>
      </div>
      <div class="col image-carousel">
        <%- include ./layouts/image_carousel.ejs %>
      </div>
      <div class="col-2">
        <%- include ./layouts/product_info %>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</body>

</html>
