<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>

<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>

<style>
table, th, td {
    border: 1px solid black;
    margin-left: 210px;
}
</style>

<table border="0" width='60%' margin-left: 210px>
    <tr style='text-align:left; background-color:#CCC'>
        <th>Name</th>
        <th>Brand</th>
        <th>Type</th>
        <th>Cost</th>
        <th>Materials</th>
        <th>Discription</th>
        <th>Dimensions</th>
        <th>Stock</th>
        <th>Restock</th>
    </tr>
    <% if (data) { %>
    <!-- Using a for-loop to loop over each row in the database.
    The 'data' variable is passed from the store.js during the response.render function call -->
        <% data.forEach(function(item){ %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.brand %></td>
                <td><%= item.type %></td>
                <td><%= item.cost %></td>
                <td><%= item.material %></td>
                <td><%= item.discription %></td>
                <td><%= item.dimensions %></td>
                <td><%= item.stock %></td>
                <td>
                    <div class="edit-delete" style="float:left">
                        <a href='/admin/storeRestock/edit/<%= item.productid %>'>Restock Item</a> &nbsp;
                    </div>
                </td>
            </tr>
        <% }) %>
    <% } %>
</table>


<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>