<!--Including Header Partial-->
<%- include ../layouts/header.ejs %>

<!--Using if-check to see if an error occurred and displaying appropriate message-->
<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:blue"><%- messages.success %></p>
<% } %>
<style>
table, th, td {
    border: 1px solid black;
    margin-left: 210px;
}
</style>

<script type="text/javascript">
    var err = <%- JSON.stringify(messages) %>;
    console.log(err);
</script>

<table border="0" width='30%' align="left">
    <tr style='text-align:left; background-color:#CCC;';>
        <th>Name</th>
        <th>email</th>
    </tr>
    <% if (data) { %>
    <!-- Using a for-loop to loop over each row in the database.
    The 'data' variable is passed from the store.js during the response.render function call -->
        <% data.forEach(function(item){ %>
            <tr>
                <td ><%= item.username %></td>
                <td><%= item.email %></td>
            </tr>
        <% }) %>
    <% } %>
</table>


<!--Including Footer Partial-->
<%- include ../layouts/footer.ejs %>