
<style>         
table, th, td {
    margin-left: 210px;
}
</style>
<%- include ../layouts/header.ejs %>

<% if (messages.error) { %>
    <p style="color:red"><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
    <p style="color:green"><%- messages.success %></p>
<% } %>
<!-- The action attribute of the form refers to a item using its database id -->
<form action="/admin/storeItems/edit/<%= productid %>" method="post" name="form1">
    <table width="25%" border="0">
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" id="name" value="<%= name %>"/></td>
        </tr>

        <tr>
            <td>Brand</td>
            <td><input type="text" name="brand" id="brand" value="<%= brand %>"/></td>
        </tr>

        <tr>
            <td>Type</td>
            <td><input type="text" name="type" id="type" value="<%= type %>"/></td>
        </tr>

        <tr>
            <td>Cost</td>
            <td><input type="text" name="cost" id="cost" value="<%= cost %>"/></td>
        </tr>

        <tr>
            <td>Materials</td>
            <td><input type="text" name="material" id="material" value="<%= material %>"/></td>
        </tr>

        <tr>
            <td>Picture Name 1</td>
            <td><input type="text" name="image" id = "image" value="<%= image %>"/></td>
        </tr>

        <tr>
            <td>Picture Name 2</td>
            <td><input type="text" name="image2" id = "image2" value="<%= image2 %>"/></td>
        </tr>

        <tr>
            <td>Picture Name 3</td>
            <td><input type="text" name="image3" id = "image3" value="<%= image3 %>"/></td>
        </tr>

        <tr>
            <td>Quantity</td>
            <td><input type="text" name="stock" id = "stock" value="<%= stock %>"/></td>
        </tr>

        <tr>
            <td>Description</td>
            <td><input type="text" name="description" id="description" value="<%= description %>"/></td>
        </tr>

        <tr>
            <td>Dimensions</td>
            <td><input type="text" name="dimensions" id="dimensions" value="<%= dimensions %>"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" name="Submit" value="Edit"/></td>
        </tr>
    </table>
    <input type="hidden" name="_method" value="PUT"/>
</form>


<!-- Include Footer Partial -->
<%- include ../layouts/footer.ejs %> 